<p style="color: green"><%= notice %></p>

<div class="container-fluid">
<h1>States</h1>
<div class="card shadow bg-white rounded">
<table class="table table-striped">
  <thead>
    <tr>
      <th>State Name</th>
      <th>Download Link</th>
      <th>Show State</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state|%>
      <tr>   
        <td>
          <%= state.name %>
        </td>   
        <td>
          <%= link_to "Download", state.attachment_url, download: '',  class:"btn btn-primary"%>
        </td>  
        <td>
          <%= link_to "Show state", state, class:"btn btn-success"%>
        </td> 
        <td>
          <%= button_to "Delete",  state, method: :delete, data: {confirm: "Are you sure you want to delete #{state.name}?"}, class:"btn btn-danger"%>
        </td>   
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to "New state", new_state_path, class:"btn btn-primary" %>
</div>